<div class="container">
    <div class="row">
        <h1 class="mx-auto">Eat Da Burger!</h1>
    </div>
    <div class="row">
        <img src="burger.jpg" alt="burger image" class="mx-auto">
    </div>
    <div class="row">
        <div class="col-sm">
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block}}
                {{/unless}}
                {{/each}}
            </ul>

        </div>
        <div class="col-sm">
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                {{> burger-block}}
                {{/if}}
                {{/each}}
            </ul>
        </div>

    </div>
    <div class="row">
        <form class="mx-auto text-center create-form">
            <div class="form-group">
                <label for="burg">Add a burger</label>
                <br>
                <input type="text" id="burgerForm" cols="40" rows="5"></input>
            </div>
            <button class="btn btn-primary" type="submit"> Submit! </button>
        </form>
    </div>
    <div class="row">
        <p class="mx-auto">Enter a burger you want to eat & Click the "Submit!" button</p>
    </div>
</div>
{{!-- 
<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul> --}}